<div [attr.theme]='theme' style="height: 100%">
    <div class="primary-background"></div>
    <app-navbar (darkMode)="toggleTheme($event)"></app-navbar>
  
<main>
    <div class="message-container">
        <!-- print all messages in list -->
        <div *ngFor='let mess of messages'>
            <div class="container">
                <!-- blue bubbles if user -->
                <div *ngIf="mess.isSessUser" class="sess-user-message">
                    <b>{{mess.username}}</b>: {{mess.message}}
                </div>
                <!-- white bubbles if not -->
                <div *ngIf="!mess.isSessUser" class="other-users-message">
                    <b>{{mess.username}}</b>: {{mess.message}}
                </div>
            </div>
        </div>
    </div>
    
    <!-- text box at bottom -->
    <form class="message-input-box">
    <div class="inputs-container">
        <input (keydown.enter)='sendMessage()' type="text" class="form-style" id="chatbox" placeholder="message..."  [(ngModel)]="message.message" name="name">
        <button type="button" class="submit-button" (click)='sendMessage()'>Submit</button> 
    </div>
    </form>
</main>
</div>
