
<div class="d-flex input-group">
    <input (keydown.enter)="postNewPost()" class="d-flex form-style" type="text" placeholder="What do you have to share..." aria-label="default input example" (click)='showFileUpload()' name='inputMessage' [(ngModel)]='newPost.message'>
    <label *ngIf='visibilityOfUpload' for="inputGroupFile04" class="upload-file">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><circle cx="8.5" cy="8.5" r="1.5"/><path d="M20.4 14.5L16 10 4 20"/></svg>         Add Image
        <input hidden type="file"id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change) ="selectFile($event)">
    </label>
    <button class="submit-button" type="button" id="inputGroupFileAddon04" (click)="postNewPost()">Submit</button>
</div>

<app-loadingspinner *ngIf="loading"></app-loadingspinner>

