<div [attr.theme]='theme' style="height: 100%">
  <div class="primary-background"></div>
  <app-navbar (darkMode)="toggleTheme($event)"></app-navbar>

<main>
    <article>
      <form class="form-container" id="logInBox">
            <div class="form-group">
              <h2 id="userLoginText">Reset Password</h2>
              <div>{{response}}</div>
              <label class = "inputText" >New Password</label> <input type="password" class="form-control" id="p1" placeholder="Password" [(ngModel)]='password1' name='p1'>
            </div>
            <br>
            <div class="form-group">
              <label class = "inputText">New Password Again</label> <input type="password" class="form-control" id="p2" placeholder="Password" name='p2' [(ngModel)]='password2'>
            </div>
            <br>
            <button type="button" id="loginButton" class="btn btn-success btn-block" (click)='resetPassword()'>Submit</button>
          </form>
    </article>
</main>
</div>